<!--
    Image Classification HTML Template

    This HTML file serves as a template for an Image Classification web application.
    Users can upload an image or drag and drop an image file onto the designated area.
    Upon clicking the "Predict" button, the application will process the image and
    provide the predicted class and confidence level using a server-side prediction API.

    Backend:
    - The web application's backend is built using FastAPI, a modern web framework for
      building APIs with Python.

    Dependencies:
    - style.css: The CSS file containing the styles for the page layout and elements.

    Usage:
    - Include the style.css file in the 'static' folder of the web server.
    - The web application should be configured to send POST requests to the "/predict" endpoint,
      with the uploaded image as a form data field named "file".
    - The server should process the image and return the prediction result in the 'result' variable.

    Note:
    - The actual functionality of the image classification, prediction, and server-side logic
      is not included in this HTML template. It assumes that the required prediction result
      will be available in the 'result' variable.

    Author: Prem Ganesh Gaikwad
    Date: 20 July 23
-->

<!DOCTYPE html>
<html>
<head>
    <title>Image Classification</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body class="gradient-background">
    <header>
        <h1>Image Classification App</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="https://prem07a.github.io/Porfoliio/" target="_blank">My Portfolio</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1 id="heading">Image Classification</h1>
        <form action="/predict" method="post" enctype="multipart/form-data" onsubmit="showImageUploadedMessage()">
            <div class="btn-container">
                <div class="upload-btn-wrapper">
                    <button class="btn" id="uploadBtn"><i class="fas fa-cloud-upload-alt"></i> Upload or Drag & Drop Image</button>
                    <input type="file" name="file" id="fileInput" onchange="showImageUploadedMessage()">
                </div>
                <input type="submit" value="Predict" id="predictBtn" disabled>
            </div>
        </form>
        {% if result %}
        <div class="result">
            <h2>Prediction:</h2>
            <p>Class: {{ result.class }}</p>
            <p>Confidence: {{ result.confidence }}%</p>
            <img src="data:image/png;base64,{{ result.image_base64 }}" alt="Uploaded Image">
        </div>
        {% endif %}
    </div>
    <script>
        function showImageUploadedMessage() {
            var fileInput = document.getElementById("fileInput");
            var predictBtn = document.getElementById("predictBtn");

            if (fileInput.value) {
                predictBtn.disabled = false;
            }
        }
    </script>
</body>
</html>
